In [1]:
import pandas as pd
di={'ram':1,'sita':2,'riya':3,'priya':4,'rocky':5}
friends=pd.Series(di)
print(friends)

ram      1
sita     2
riya     3
priya    4
rocky    5
dtype: int64

In [3]:
import pandas as pd
di_s={2014:[200,137,397,450],2015:[3500,2567,6780,1200],2016:[4900,5698,9100,7060],2017:[56000,45670,67920,67250]}
sales=pd.DataFrame(di_s,index=['Madhu','Kusum','Kinshuk','Ankit'])
print(sales)

         2014  2015  2016   2017
Madhu     200  3500  4900  56000
Kusum     137  2567  5698  45670
Kinshuk   397  6780  9100  67920
Ankit     450  1200  7060  67250

In [21]:
(sales[2016]>5500)

Madhu      False
Kusum       True
Kinshuk     True
Ankit       True
Name: 2016, dtype: bool

In [22]:
(sales[2016]>5500).all()

False

In [27]:
sales.iloc[1:4,:]

         2014  2015  2016   2017
Kusum     137  2567  5698  45670
Kinshuk   397  6780  9100  67920
Ankit     450  1200  7060  67250

In [25]:
sales.loc['Kusum':'Ankit',:]

         2014  2015  2016   2017
Kusum     137  2567  5698  45670
Kinshuk   397  6780  9100  67920
Ankit     450  1200  7060  67250

In [5]:
sales.index

Index(['Madhu', 'Kusum', 'Kinshuk', 'Ankit'], dtype='object')

In [6]:
sales.dtypes

2014    int64
2015    int64
2016    int64
2017    int64
dtype: object

In [7]:
sales.ndim

2

In [8]:
sales.shape

(4, 4)

In [9]:
sales.size

16

In [10]:
sales.values

array([[  200,  3500,  4900, 56000],
       [  137,  2567,  5698, 45670],
       [  397,  6780,  9100, 67920],
       [  450,  1200,  7060, 67250]], dtype=int64)

In [12]:
s1=pd.Series(data=[3,5,6,10,12],index=[0,1,2,4,5])
s2=pd.Series(data=[12,10,15,20,27],index=[0,2,3,4,6])
print(s1,s2)

0     3
1     5
2     6
4    10
5    12
dtype: int64 0    12
2    10
3    15
4    20
6    27
dtype: int64

In [13]:
s1-s2

0    -9.0
1     NaN
2    -4.0
3     NaN
4   -10.0
5     NaN
6     NaN
dtype: float64

In [14]:
s1+s2

0    15.0
1     NaN
2    16.0
3     NaN
4    30.0
5     NaN
6     NaN
dtype: float64

In [15]:
s2/s1

0    4.000000
1         NaN
2    1.666667
3         NaN
4    2.000000
5         NaN
6         NaN
dtype: float64

In [18]:
import numpy as np
data = np.array(['a', 'b', 'c', 'd', 'e', 'f'])
S = pd. Series(data, index = [100, 101, 102, 103, 104, 105])

In [20]:
S2 = pd. Series ([1, 2, 3, 4], index = range (7))

ValueError: Length of values (4) does not match length of index (7)

In [28]:
import pandas as pd
di={'ram':1,'sita':2,'riya':3,'priya':4,'rocky':5}
friends=pd.Series(di)
print(friends)

ram      1
sita     2
riya     3
priya    4
rocky    5
dtype: int64

In [29]:
import pandas as pd
import numpy as np
array1 = np.array([31,28,31,30,31,30,31,31,30,31,30,31])
MonthDays = pd.Series(array1,index=[1,2,3,4,5,6,7,8,9,10,11,12])
print(MonthDays)

1     31
2     28
3     31
4     30
5     31
6     30
7     31
8     31
9     30
10    31
11    30
12    31
dtype: int32